[Unit]
Description=A climate script

[Service]
Type=oneshot
ExecStart=/home/cie/.bin/clima.sh
WorkingDirectory=/home/cie/.bin/

[Install]
WantedBy=timers.target
