[Unit]
Description=Whatever description
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Type=simple
ExecStart=/usr/bin/flatpak run com.github.wwmm.easyeffects --gapplication-service
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
