[Unit]
Description=A script to check if the keyboard is connected or not and if not, kill xremap.

[Service]
ExecStart=/home/cie/.config/systemd/user/scripts/is_keyboard_connected
