[Unit]
Description=A music script that switchs between bass and equalizer using easyeffects

[Timer]
OnCalendar=06:00
Persistent=true

[Install]
WantedBy=timers.target
