[Unit]
Description=A script to check if youtube-music is running and change the easyeffects preset to HeavyBass

[Service]
ExecStart=/home/cie/.config/systemd/user/scripts/is_music
