[Unit]
Description=Timer unit for the music_active service

[Timer]
OnBootSec=10s
OnUnitActiveSec=2s
AccuracySec=1us

[Install]
WantedBy=timers.target
