[Unit]
Description=A service to handle the keyd application mapper

[Service]
Type=simple
ExecStart=/usr/bin/keyd-application-mapper

[Install]
WantedBy=multi-user.target
