@define-color fg #d8dee9;
@define-color warning #EF5A6F;
@define-color bg #2e3440;
@define-color bg1 #4c566a;
@define-color button #36C2CE;
@define-color inactive #d8dee9;
@define-color active #FF8343;
@define-color hover #891652;

* {
    padding: 0;
    margin: 0;
}

window#waybar {
    background-color: @bg;
    font-family: 'Symbols Nerd Font';
}

.modules-right {
    padding-right: 10px;
}

.modules-left {}

#workspaces button {
    border-radius: 0;
    margin-right: -5px;
    font-size: 17px;
    color: @fg;
    background-color: @bg;
    padding: 0px 8px 0px 8px;
}

#workspaces button:first-child {
    font-size: 17px;
}

#workspaces button:nth-child(2) {
    margin-left: -6px;
    margin-right: -10px;
    font-size: 15.5px;
}

#workspaces button:last-child {
    margin-right: 1px;
    font-size: 17px;
}

#workspaces button.empty {
    color: @bg1;
}

#workspaces button:hover {
    color: @warning;
    background-color: @bg;
}

#workspaces button.focused {
    color: @warning;
}

#workspaces button.focused:hover {
    color: @bg;
}



/* default */
#clock,
#custom-easy,
#custom-network,
#pulseaudio {
    color: @fg;
    background-color: @bg;
    font-size: 16px;
}

/* submap */
#submap {
    margin: -4px 2px 0px 0px;
    color: @warning;
    font-size: 15px;
}

#custom-separator {
    margin: 0 6px 0 6px;
}

#custom-stretch {
    background-color: @bg;
    color: @fg;
    padding-bottom: 3px;
    font-size: 16px;
}

#custom-network.warning,
#custom-gameon.warning,
#custom-easy.warning,
#custom-tabbed.warning,
#custom-variant.warning,
#custom-updates.warning,
#custom-stretch.warning,
#custom-pymor.warning,
#custom-santos.warning,
#custom-cpu-temp.warning,
#custom-cpu.warning,
#custom-mem.warning,
#custom-disk-root,
#custom-disk-home.warning,
#custom-disk-hdd.warning {
    background-color: @bg;
    color: @warning;
    padding-bottom: 3px;
    font-size: 16px;
}

#custom-easy {
    font-size: 10px;
    margin-bottom: 2px;
}

#custom-easy.warning {
    font-size: 18px;
    margin-bottom: -1px;
}

#custom-separator {
    font-size: 20px;
    padding-bottom: 4px;
    color: #4c566a;
}

#pulseaudio {
    margin-bottom: 2px;
}

#clock {
    padding-bottom: 2px;
}

#custom-pymor.normal {
    background-color: @bg;
    color: @fg;
}

#custom-tabbed.normal {
    background-color: @bg;
    color: @fg;
    font-size: 16px;
}


#pulseaudio {
    margin-bottom: 3px;
}
