$fg: #d8dee9;
$warning: #EABF61;
$bg: #2e3440;
$bg1: #4c566a;
$button: #36C2CE;
$inactive: #d8dee9;
$active: #FF8343;
$hover: #891652;
$font: "Lexend Deca";
$workspace_font: "Leckerli One";
$weight: 900;
$padx: 4px;
$pady: 2px;

* {
  padding: 0;
  margin: 0;
}

window#waybar {
  background-color: $bg;
  font-family: $font;
}

#workspaces {
  padding-right: 8px;
}

#workspaces button {
  border-radius: 0;
  font-size: 18px;
  font-family: $workspace_font;
  font-weight: 900;
  color: $fg;
  background-color: $bg;
  padding: 0 $padx;
}

#workspaces button.empty {
  opacity: 0.5;
}

#workspaces button.urgent {
  color: $warning;
}

#workspaces button:hover {
  color: $bg;
  background-color: $fg;
}

#workspaces button.focused {
  color: $warning;
  opacity: 1;
}

#workspaces button.focused:hover {
  color: $bg;
}

.modules-right {
  font-family: $font;
}

.warning {
  padding: 0 4px;
  color: $warning;
  background-color: $bg;
  font-family: $font;
  font-weight: $weight;
  font-size: 20px;
}

.normal {
  padding: 0 4px;
  font-family: $font;
  font-weight: $weight;
  font-size: 20px;
}

#mode {
  color: $warning;
  margin-bottom: 1px;
  font-weight: 500;
}
