@define-color cpu-week #D3C6AA; 
@define-color gamemode_inac #9DA9A0; 
@define-color gamemode_act #E67E80; 
@define-color home #D699B6; 
@define-color normal #fff; 
@define-color bg #7A8478;
@define-color pulsa #A7C080;
@define-color ram #83C092; 
@define-color root #7FBBB3; 
@define-color day-week-fg #1E2326;
@define-color day-bg #E69875;

window#waybar {
  background-color: rgba(30, 35, 38, .5);
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-weight: bold;
}

#workspaces {
  font-size: 18px;  
  margin-left: -8px;
}

#workspaces button {
  color: @normal;
}

#workspaces button:hover {
  border-radius: 0;
  color: #444;
}

#workspaces button.active {
  background-color: rgba(30, 35, 38, .5);
  color: #83C092;
}

#submap, 
#disk, 
#disk-home,
#pulseaudio,
#custom-updates,
#cpu {
  margin-bottom: 6px;
}

#gamemode,
#gamemode.running {
  margin: 0 0 4px 13px;
}

#pulseaudio,
#disk,
#disk-home,
#cpu,
#memory {
  margin-left: 3px;
}

#custom-separator {
  color: #dadada; 
}

#custom-updates {
  color: #dadada; 
}
#submap {
  color: @home;
}

#gamemode {
  color: @gamemode_inac;
}

#gamemode.running {
  color: @gamemode_act;
}

#pulseaudio.icon {
  color: @pulsa;
  margin-right: 6px;
  margin-bottom: -2px;
}

#pulseaudio {
  color: @pulsa;
}

#custom-disk-root {
  color: @root;
  margin-right: 3px;
}

#disk {
  color: @root;
}


#custom-disk-home {
  color: @home;
  margin-bottom: 2px;
}

#disk.home {
  color: @home;
}

#custom-cpu-icon {
  color: @cpu-week;
  margin-right: 5px;
}

#cpu {
  color: @cpu-week;
}

#custom-ram-icon {
  color: @ram;
}

#memory {
  color: @ram;
}

#tray {
  margin: 8px -2px 0 0;
}

#clock {
  color: @normal;
  font-size: 1.2em;
  margin: 0 -2px 12px 0;
}

#clock.day {
  background-color: @day-bg;
  color: @day-week-fg;
  margin-top: -6px;
  margin-right: -2px;
}

#clock.week-day {
  background: @cpu-week;
  border-top: 1px solid #444;
  color: @day-week-fg;
  margin: -12px -2px 0 0;
}
